<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="56a48a0942ee488c8863de61cfb40627" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_56a48a0942ee488c8863de61cfb40627 = echarts.init(
            document.getElementById('56a48a0942ee488c8863de61cfb40627'), 'white', {renderer: 'canvas'});
        var option_56a48a0942ee488c8863de61cfb40627 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar3D",
            "name": "\u7d2f\u8ba1\u786e\u8bca",
            "coordinateSystem": "geo3D",
            "grid3DIndex": 0,
            "geo3DIndex": 0,
            "globeIndex": 0,
            "barSize": 1,
            "bevelSize": 0,
            "bevelSmoothness": 2,
            "minHeight": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(data){return data.name + ' ' + data.value[2];}
            },
            "emphasis": {},
            "data": [
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": [
                        127.9688,
                        45.368,
                        1612
                    ]
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        121.4648,
                        31.2891,
                        2190
                    ]
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": [
                        110.3467,
                        41.4899,
                        394
                    ]
                },
                {
                    "name": "\u5409\u6797",
                    "value": [
                        125.8154,
                        44.2584,
                        573
                    ]
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": [
                        123.1238,
                        42.1216,
                        427
                    ]
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": [
                        114.4995,
                        38.1006,
                        1317
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        117.4219,
                        39.4189,
                        399
                    ]
                },
                {
                    "name": "\u5c71\u897f",
                    "value": [
                        112.3352,
                        37.9413,
                        253
                    ]
                },
                {
                    "name": "\u9655\u897f",
                    "value": [
                        109.1162,
                        34.2004,
                        624
                    ]
                },
                {
                    "name": "\u7518\u8083",
                    "value": [
                        103.5901,
                        36.3043,
                        194
                    ]
                },
                {
                    "name": "\u5b81\u590f",
                    "value": [
                        106.3586,
                        38.1775,
                        76
                    ]
                },
                {
                    "name": "\u9752\u6d77",
                    "value": [
                        101.4038,
                        36.8207,
                        18
                    ]
                },
                {
                    "name": "\u65b0\u7586",
                    "value": [
                        87.9236,
                        43.5883,
                        980
                    ]
                },
                {
                    "name": "\u897f\u85cf",
                    "value": [
                        91.11,
                        29.97,
                        1
                    ]
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": [
                        103.9526,
                        30.7617,
                        1079
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        108.384366,
                        30.439702,
                        598
                    ]
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": [
                        117.1582,
                        36.8701,
                        883
                    ]
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": [
                        113.4668,
                        34.6234,
                        1317
                    ]
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": [
                        118.8062,
                        31.9208,
                        742
                    ]
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": [
                        117.29,
                        32.0581,
                        1004
                    ]
                },
                {
                    "name": "\u6e56\u5317",
                    "value": [
                        114.3896,
                        30.6628,
                        68160
                    ]
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": [
                        119.5313,
                        29.8773,
                        1383
                    ]
                },
                {
                    "name": "\u798f\u5efa",
                    "value": [
                        119.4543,
                        25.9222,
                        661
                    ]
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": [
                        116.0046,
                        28.6633,
                        937
                    ]
                },
                {
                    "name": "\u6e56\u5357",
                    "value": [
                        113.0823,
                        28.2568,
                        1051
                    ]
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": [
                        106.6992,
                        26.7682,
                        147
                    ]
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": [
                        108.479,
                        23.1152,
                        275
                    ]
                },
                {
                    "name": "\u6d77\u5357",
                    "value": [
                        110.3893,
                        19.8516,
                        188
                    ]
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": [
                        113.28064,
                        23.125177,
                        2717
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        116.405289,
                        39.904987,
                        1075
                    ]
                },
                {
                    "name": "\u4e91\u5357",
                    "value": [
                        102.71225,
                        25.040609,
                        394
                    ]
                },
                {
                    "name": "\u9999\u6e2f",
                    "value": [
                        114.16546,
                        22.27534,
                        11898
                    ]
                },
                {
                    "name": "\u6fb3\u95e8",
                    "value": [
                        113.54913,
                        22.19875,
                        53
                    ]
                },
                {
                    "name": "\u53f0\u6e7e",
                    "value": [
                        121.520076,
                        25.030724,
                        14260
                    ]
                }
            ],
            "zlevel": -10,
            "silent": false,
            "animation": true,
            "animationDurationUpdate": 1000,
            "animationEasingUpdate": "cubicOut"
        },
        {
            "type": "bar3D",
            "name": "\u7d2f\u8ba1\u6cbb\u6108",
            "coordinateSystem": "geo3D",
            "grid3DIndex": 0,
            "geo3DIndex": 0,
            "globeIndex": 0,
            "barSize": 1,
            "bevelSize": 0,
            "bevelSmoothness": 2,
            "minHeight": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": function(data){return data.name + ' ' + data.value[2];}
            },
            "emphasis": {},
            "data": [
                {
                    "name": "\u53f0\u6e7e",
                    "value": [
                        121.020076,
                        24.530724,
                        9041
                    ]
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": [
                        112.78064,
                        22.625177,
                        2508
                    ]
                },
                {
                    "name": "\u9999\u6e2f",
                    "value": [
                        113.66546,
                        21.77534,
                        11619
                    ]
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        120.9648,
                        30.7891,
                        2128
                    ]
                },
                {
                    "name": "\u798f\u5efa",
                    "value": [
                        118.9543,
                        25.4222,
                        613
                    ]
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": [
                        119.0313,
                        29.3773,
                        1337
                    ]
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": [
                        103.4526,
                        30.2617,
                        1034
                    ]
                },
                {
                    "name": "\u4e91\u5357",
                    "value": [
                        102.21225,
                        24.540609,
                        350
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        115.905289,
                        39.404987,
                        1051
                    ]
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": [
                        118.3062,
                        31.4208,
                        728
                    ]
                },
                {
                    "name": "\u9655\u897f",
                    "value": [
                        108.6162,
                        33.7004,
                        609
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        116.9219,
                        38.9189,
                        386
                    ]
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": [
                        109.8467,
                        40.9899,
                        387
                    ]
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": [
                        112.9668,
                        34.1234,
                        1291
                    ]
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": [
                        122.6238,
                        41.6216,
                        421
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        107.884366,
                        29.939702,
                        589
                    ]
                },
                {
                    "name": "\u6fb3\u95e8",
                    "value": [
                        113.04913,
                        21.69875,
                        51
                    ]
                },
                {
                    "name": "\u6e56\u5317",
                    "value": [
                        113.8896,
                        30.1628,
                        63647
                    ]
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": [
                        116.6582,
                        36.3701,
                        875
                    ]
                },
                {
                    "name": "\u5c71\u897f",
                    "value": [
                        111.8352,
                        37.4413,
                        252
                    ]
                },
                {
                    "name": "\u6d77\u5357",
                    "value": [
                        109.8893,
                        19.3516,
                        181
                    ]
                },
                {
                    "name": "\u5b81\u590f",
                    "value": [
                        105.8586,
                        37.6775,
                        75
                    ]
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": [
                        127.4688,
                        44.868,
                        1599
                    ]
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": [
                        113.9995,
                        37.6006,
                        1310
                    ]
                },
                {
                    "name": "\u6e56\u5357",
                    "value": [
                        112.5823,
                        27.7568,
                        1047
                    ]
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": [
                        116.79,
                        31.558100000000003,
                        998
                    ]
                },
                {
                    "name": "\u65b0\u7586",
                    "value": [
                        87.4236,
                        43.0883,
                        977
                    ]
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": [
                        115.5046,
                        28.1633,
                        936
                    ]
                },
                {
                    "name": "\u5409\u6797",
                    "value": [
                        125.3154,
                        43.7584,
                        570
                    ]
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": [
                        107.979,
                        22.6152,
                        273
                    ]
                },
                {
                    "name": "\u7518\u8083",
                    "value": [
                        103.0901,
                        35.8043,
                        192
                    ]
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": [
                        106.1992,
                        26.2682,
                        145
                    ]
                },
                {
                    "name": "\u9752\u6d77",
                    "value": [
                        100.9038,
                        36.3207,
                        18
                    ]
                },
                {
                    "name": "\u897f\u85cf",
                    "value": [
                        90.61,
                        29.47,
                        1
                    ]
                }
            ],
            "zlevel": -10,
            "silent": false,
            "animation": true,
            "animationDurationUpdate": 1000,
            "animationEasingUpdate": "cubicOut"
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca",
                "\u7d2f\u8ba1\u6cbb\u6108"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca": true,
                "\u7d2f\u8ba1\u6cbb\u6108": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "geo3D": {
        "map": "china",
        "boxWidth": 100,
        "boxHeight": 10,
        "regionHeight": 3,
        "groundPlane": {
            "show": true,
            "color": "#f3f582"
        },
        "instancing": false,
        "itemStyle": {
            "color": "rgb(230,200,55)",
            "borderColor": "rgb(230,94,90)",
            "borderWidth": 0.8,
            "opacity": 1
        },
        "label": {
            "show": false,
            "formatter": function(data){return data.name +  + data.value[2];}
        },
        "emphasis": {
            "label": {
                "show": false,
                "position": "top",
                "color": "#fff",
                "margin": 8,
                "fontSize": 10,
                "backgroundColor": "rgba(2,23,11,0)"
            }
        },
        "shading": "lambert",
        "light": {
            "main": {
                "color": "#fff",
                "intensity": 1.2,
                "shadow": false,
                "shadowQuality": "high",
                "alpha": 40,
                "beta": 10
            },
            "ambient": {
                "color": "#fff",
                "intensity": 0.3
            },
            "ambientCubemap": {
                "diffuseIntensity": 0.5,
                "specularIntensity": 0.5
            }
        },
        "temporalSuperSampling": {
            "enable": "auto"
        },
        "zlevel": -10,
        "left": "auto",
        "top": "auto",
        "right": "auto",
        "bottom": "auto",
        "width": "auto",
        "height": "auto"
    },
    "title": [
        {
            "text": "\u5168\u56fd\u75ab\u60c5\u5206\u5e03",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_56a48a0942ee488c8863de61cfb40627.setOption(option_56a48a0942ee488c8863de61cfb40627);
    </script>
</body>
</html>
