<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c5426eaaa4ad4ef4923d51007d67853e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c5426eaaa4ad4ef4923d51007d67853e = echarts.init(
            document.getElementById('c5426eaaa4ad4ef4923d51007d67853e'), 'white', {renderer: 'canvas'});
        var option_c5426eaaa4ad4ef4923d51007d67853e = {
    "backgroundColor": new echarts.graphic.LinearGradient(0, 0, 0, 1, [{offset: 0, color: '#c89'}, {offset: 1, color: '#06a'}], false),
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u786e\u8bca",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "02-1",
                    0
                ],
                [
                    "02-2",
                    0
                ],
                [
                    "02-3",
                    0
                ],
                [
                    "02-4",
                    0
                ],
                [
                    "02-5",
                    0
                ],
                [
                    "02-6",
                    0
                ],
                [
                    "02-7",
                    0
                ],
                [
                    "02-8",
                    0
                ],
                [
                    "02-9",
                    0
                ],
                [
                    "02-10",
                    0
                ],
                [
                    "02-11",
                    0
                ],
                [
                    "02-12",
                    0
                ],
                [
                    "02-13",
                    0
                ],
                [
                    "02-14",
                    0
                ],
                [
                    "02-15",
                    0
                ],
                [
                    "02-16",
                    0
                ],
                [
                    "02-17",
                    0
                ],
                [
                    "02-18",
                    0
                ],
                [
                    "02-19",
                    0
                ],
                [
                    "02-20",
                    0
                ],
                [
                    "02-21",
                    0
                ],
                [
                    "02-22",
                    0
                ],
                [
                    "02-23",
                    0
                ],
                [
                    "02-24",
                    0
                ],
                [
                    "02-25",
                    0
                ],
                [
                    "02-26",
                    0
                ],
                [
                    "02-27",
                    0
                ],
                [
                    "02-28",
                    0
                ],
                [
                    "02-29",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6cbb\u6108",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "02-1",
                    0
                ],
                [
                    "02-2",
                    0
                ],
                [
                    "02-3",
                    0
                ],
                [
                    "02-4",
                    0
                ],
                [
                    "02-5",
                    0
                ],
                [
                    "02-6",
                    0
                ],
                [
                    "02-7",
                    0
                ],
                [
                    "02-8",
                    0
                ],
                [
                    "02-9",
                    0
                ],
                [
                    "02-10",
                    0
                ],
                [
                    "02-11",
                    0
                ],
                [
                    "02-12",
                    0
                ],
                [
                    "02-13",
                    0
                ],
                [
                    "02-14",
                    0
                ],
                [
                    "02-15",
                    0
                ],
                [
                    "02-16",
                    0
                ],
                [
                    "02-17",
                    0
                ],
                [
                    "02-18",
                    0
                ],
                [
                    "02-19",
                    0
                ],
                [
                    "02-20",
                    0
                ],
                [
                    "02-21",
                    0
                ],
                [
                    "02-22",
                    0
                ],
                [
                    "02-23",
                    0
                ],
                [
                    "02-24",
                    0
                ],
                [
                    "02-25",
                    0
                ],
                [
                    "02-26",
                    0
                ],
                [
                    "02-27",
                    0
                ],
                [
                    "02-28",
                    0
                ],
                [
                    "02-29",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u6b7b\u4ea1",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "02-1",
                    0
                ],
                [
                    "02-2",
                    0
                ],
                [
                    "02-3",
                    0
                ],
                [
                    "02-4",
                    0
                ],
                [
                    "02-5",
                    0
                ],
                [
                    "02-6",
                    0
                ],
                [
                    "02-7",
                    0
                ],
                [
                    "02-8",
                    0
                ],
                [
                    "02-9",
                    0
                ],
                [
                    "02-10",
                    0
                ],
                [
                    "02-11",
                    0
                ],
                [
                    "02-12",
                    0
                ],
                [
                    "02-13",
                    0
                ],
                [
                    "02-14",
                    0
                ],
                [
                    "02-15",
                    0
                ],
                [
                    "02-16",
                    0
                ],
                [
                    "02-17",
                    0
                ],
                [
                    "02-18",
                    0
                ],
                [
                    "02-19",
                    0
                ],
                [
                    "02-20",
                    0
                ],
                [
                    "02-21",
                    0
                ],
                [
                    "02-22",
                    0
                ],
                [
                    "02-23",
                    0
                ],
                [
                    "02-24",
                    0
                ],
                [
                    "02-25",
                    0
                ],
                [
                    "02-26",
                    0
                ],
                [
                    "02-27",
                    0
                ],
                [
                    "02-28",
                    0
                ],
                [
                    "02-29",
                    0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u786e\u8bca",
                "\u6cbb\u6108",
                "\u6b7b\u4ea1"
            ],
            "selected": {
                "\u786e\u8bca": true,
                "\u6cbb\u6108": true,
                "\u6b7b\u4ea1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "02-1",
                "02-2",
                "02-3",
                "02-4",
                "02-5",
                "02-6",
                "02-7",
                "02-8",
                "02-9",
                "02-10",
                "02-11",
                "02-12",
                "02-13",
                "02-14",
                "02-15",
                "02-16",
                "02-17",
                "02-18",
                "02-19",
                "02-20",
                "02-21",
                "02-22",
                "02-23",
                "02-24",
                "02-25",
                "02-26",
                "02-27",
                "02-28",
                "02-29"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u56fd\u6bcf\u65e5\u65b0\u589e\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_c5426eaaa4ad4ef4923d51007d67853e.setOption(option_c5426eaaa4ad4ef4923d51007d67853e);
    </script>
</body>
</html>
