<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="125aae811b874c48af1527c0942069f1" class="chart-container" style="width:1350px; height:750px;"></div>
    <script>
        var chart_125aae811b874c48af1527c0942069f1 = echarts.init(
            document.getElementById('125aae811b874c48af1527c0942069f1'), 'white', {renderer: 'canvas'});
        var option_125aae811b874c48af1527c0942069f1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#FAE927",
        "#E9E416",
        "#C9DA36",
        "#9ECB3C",
        "#6DBC49",
        "#37B44E",
        "#3DBA78",
        "#14ADCF",
        "#209AC9",
        "#1E91CA",
        "#2C6BA0",
        "#2B55A1",
        "#2D3D8E",
        "#44388E",
        "#6A368B#7D3990",
        "#A63F98",
        "#C31C88",
        "#D52178",
        "#D5225B",
        "#D02C2A",
        "#D44C2D",
        "#F57A34",
        "#FA8F2F",
        "#D99D21",
        "#CF7B25",
        "#CF7B25",
        "#CF7B25"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u897f\u85cf",
                    "value": 1
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 18
                },
                {
                    "name": "\u6fb3\u95e8",
                    "value": 53
                },
                {
                    "name": "\u5b81\u590f",
                    "value": 76
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": 147
                },
                {
                    "name": "\u6d77\u5357",
                    "value": 188
                },
                {
                    "name": "\u7518\u8083",
                    "value": 194
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 253
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 275
                },
                {
                    "name": "\u4e91\u5357",
                    "value": 394
                }
            ],
            "radius": [
                "25%",
                "95%"
            ],
            "center": [
                "50%",
                "60%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontStyle": "normal",
                "fontWeight": "bolder",
                "formatter": "{b}:{c}\u4f8b"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u897f\u85cf",
                "\u9752\u6d77",
                "\u6fb3\u95e8",
                "\u5b81\u590f",
                "\u8d35\u5dde",
                "\u6d77\u5357",
                "\u7518\u8083",
                "\u5c71\u897f",
                "\u5e7f\u897f",
                "\u4e91\u5357"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "    \u4e2d\u56fd  \n \u786e\u8bca\u75c5\u4f8b\u6700\u5c11 \n \u7684\u5341\u4e2a\u57ce\u5e02",
            "left": "43%",
            "top": "55%",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "color": "black",
                "fontStyle": "normal",
                "fontWeight": "bold",
                "fontFamily": "Microsoft Yahei",
                "fontSize": 20
            },
            "subtextStyle": {
                "color": "black",
                "fontStyle": "normal",
                "fontWeight": "bolder",
                "fontSize": 37
            }
        }
    ]
};
        chart_125aae811b874c48af1527c0942069f1.setOption(option_125aae811b874c48af1527c0942069f1);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
