<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/shanghai.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/vintage.js"></script>

</head>
<body>
    <div id="bcaecb3d345e40acb47bd65202f7bbd7" class="chart-container" style="width:1500px; height:800px;"></div>
    <script>
        var chart_bcaecb3d345e40acb47bd65202f7bbd7 = echarts.init(
            document.getElementById('bcaecb3d345e40acb47bd65202f7bbd7'), 'vintage', {renderer: 'canvas'});
        var option_bcaecb3d345e40acb47bd65202f7bbd7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u786e\u8bca",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e0a\u6d77",
            "data": [
                {
                    "name": "\u6d66\u4e1c\u65b0\u533a",
                    "value": 69
                },
                {
                    "name": "\u5b9d\u5c71\u533a",
                    "value": 26
                },
                {
                    "name": "\u9ec4\u6d66\u533a",
                    "value": 22
                },
                {
                    "name": "\u95f5\u884c\u533a",
                    "value": 19
                },
                {
                    "name": "\u5f90\u6c47\u533a",
                    "value": 18
                },
                {
                    "name": "\u9759\u5b89\u533a",
                    "value": 16
                },
                {
                    "name": "\u677e\u6c5f\u533a",
                    "value": 14
                },
                {
                    "name": "\u957f\u5b81\u533a",
                    "value": 14
                },
                {
                    "name": "\u666e\u9640\u533a",
                    "value": 11
                },
                {
                    "name": "\u6768\u6d66\u533a",
                    "value": 9
                },
                {
                    "name": "\u5609\u5b9a\u533a",
                    "value": 9
                },
                {
                    "name": "\u5949\u8d24\u533a",
                    "value": 9
                },
                {
                    "name": "\u8679\u53e3\u533a",
                    "value": 7
                },
                {
                    "name": "\u9752\u6d66\u533a",
                    "value": 6
                },
                {
                    "name": "\u91d1\u5c71\u533a",
                    "value": 4
                },
                {
                    "name": "\u5d07\u660e\u533a",
                    "value": 4
                },
                {
                    "name": "\u5883\u5916\u6765\u6caa\u5e02",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        },
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u6cbb\u6108",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e0a\u6d77",
            "data": [
                {
                    "name": "\u6d66\u4e1c\u65b0\u533a",
                    "value": 68
                },
                {
                    "name": "\u5b9d\u5c71\u533a",
                    "value": 25
                },
                {
                    "name": "\u9ec4\u6d66\u533a",
                    "value": 22
                },
                {
                    "name": "\u95f5\u884c\u533a",
                    "value": 19
                },
                {
                    "name": "\u5f90\u6c47\u533a",
                    "value": 17
                },
                {
                    "name": "\u9759\u5b89\u533a",
                    "value": 15
                },
                {
                    "name": "\u677e\u6c5f\u533a",
                    "value": 14
                },
                {
                    "name": "\u957f\u5b81\u533a",
                    "value": 14
                },
                {
                    "name": "\u666e\u9640\u533a",
                    "value": 11
                },
                {
                    "name": "\u6768\u6d66\u533a",
                    "value": 9
                },
                {
                    "name": "\u5609\u5b9a\u533a",
                    "value": 7
                },
                {
                    "name": "\u5949\u8d24\u533a",
                    "value": 9
                },
                {
                    "name": "\u8679\u53e3\u533a",
                    "value": 7
                },
                {
                    "name": "\u9752\u6d66\u533a",
                    "value": 6
                },
                {
                    "name": "\u91d1\u5c71\u533a",
                    "value": 4
                },
                {
                    "name": "\u5d07\u660e\u533a",
                    "value": 4
                },
                {
                    "name": "\u5883\u5916\u6765\u6caa\u5e02",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        },
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u6b7b\u4ea1",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e0a\u6d77",
            "data": [
                {
                    "name": "\u6d66\u4e1c\u65b0\u533a",
                    "value": 1
                },
                {
                    "name": "\u5b9d\u5c71\u533a",
                    "value": 1
                },
                {
                    "name": "\u9ec4\u6d66\u533a",
                    "value": 0
                },
                {
                    "name": "\u95f5\u884c\u533a",
                    "value": 0
                },
                {
                    "name": "\u5f90\u6c47\u533a",
                    "value": 1
                },
                {
                    "name": "\u9759\u5b89\u533a",
                    "value": 1
                },
                {
                    "name": "\u677e\u6c5f\u533a",
                    "value": 0
                },
                {
                    "name": "\u957f\u5b81\u533a",
                    "value": 0
                },
                {
                    "name": "\u666e\u9640\u533a",
                    "value": 0
                },
                {
                    "name": "\u6768\u6d66\u533a",
                    "value": 0
                },
                {
                    "name": "\u5609\u5b9a\u533a",
                    "value": 2
                },
                {
                    "name": "\u5949\u8d24\u533a",
                    "value": 0
                },
                {
                    "name": "\u8679\u53e3\u533a",
                    "value": 0
                },
                {
                    "name": "\u9752\u6d66\u533a",
                    "value": 0
                },
                {
                    "name": "\u91d1\u5c71\u533a",
                    "value": 0
                },
                {
                    "name": "\u5d07\u660e\u533a",
                    "value": 0
                },
                {
                    "name": "\u5883\u5916\u6765\u6caa\u5e02",
                    "value": 0
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca",
                "\u7d2f\u8ba1\u6cbb\u6108",
                "\u7d2f\u8ba1\u6b7b\u4ea1"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca": true,
                "\u7d2f\u8ba1\u6cbb\u6108": true,
                "\u7d2f\u8ba1\u6b7b\u4ea1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4e0a\u6d77\u5730\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 1,
        "max": 17,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_bcaecb3d345e40acb47bd65202f7bbd7.setOption(option_bcaecb3d345e40acb47bd65202f7bbd7);
    </script>
</body>
</html>
