<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/xinjiang.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/vintage.js"></script>

</head>
<body>
    <div id="0943d6954c6549c3b5efc3459c2bede1" class="chart-container" style="width:1500px; height:800px;"></div>
    <script>
        var chart_0943d6954c6549c3b5efc3459c2bede1 = echarts.init(
            document.getElementById('0943d6954c6549c3b5efc3459c2bede1'), 'vintage', {renderer: 'canvas'});
        var option_0943d6954c6549c3b5efc3459c2bede1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u786e\u8bca",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u65b0\u7586",
            "data": [
                {
                    "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                    "value": 845
                },
                {
                    "name": "\u5580\u4ec0\u5730\u533a",
                    "value": 80
                },
                {
                    "name": "\u4f0a\u7281\u5dde\u5e02",
                    "value": 18
                },
                {
                    "name": "\u660c\u5409\u5dde\u5e02",
                    "value": 5
                },
                {
                    "name": "\u5410\u9c81\u756a\u5e02",
                    "value": 3
                },
                {
                    "name": "\u5df4\u5dde\u5e02",
                    "value": 3
                },
                {
                    "name": "\u963f\u514b\u82cf\u5730\u533a",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        },
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u6cbb\u6108",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u65b0\u7586",
            "data": [
                {
                    "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                    "value": 845
                },
                {
                    "name": "\u5580\u4ec0\u5730\u533a",
                    "value": 80
                },
                {
                    "name": "\u4f0a\u7281\u5dde\u5e02",
                    "value": 18
                },
                {
                    "name": "\u660c\u5409\u5dde\u5e02",
                    "value": 5
                },
                {
                    "name": "\u5410\u9c81\u756a\u5e02",
                    "value": 3
                },
                {
                    "name": "\u5df4\u5dde\u5e02",
                    "value": 3
                },
                {
                    "name": "\u963f\u514b\u82cf\u5730\u533a",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        },
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u6b7b\u4ea1",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u65b0\u7586",
            "data": [
                {
                    "name": "\u4e4c\u9c81\u6728\u9f50\u5e02",
                    "value": 0
                },
                {
                    "name": "\u5580\u4ec0\u5730\u533a",
                    "value": 0
                },
                {
                    "name": "\u4f0a\u7281\u5dde\u5e02",
                    "value": 0
                },
                {
                    "name": "\u660c\u5409\u5dde\u5e02",
                    "value": 0
                },
                {
                    "name": "\u5410\u9c81\u756a\u5e02",
                    "value": 0
                },
                {
                    "name": "\u5df4\u5dde\u5e02",
                    "value": 0
                },
                {
                    "name": "\u963f\u514b\u82cf\u5730\u533a",
                    "value": 0
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca",
                "\u7d2f\u8ba1\u6cbb\u6108",
                "\u7d2f\u8ba1\u6b7b\u4ea1"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca": true,
                "\u7d2f\u8ba1\u6cbb\u6108": true,
                "\u7d2f\u8ba1\u6b7b\u4ea1": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u65b0\u7586\u5730\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 1,
        "max": 17,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_0943d6954c6549c3b5efc3459c2bede1.setOption(option_0943d6954c6549c3b5efc3459c2bede1);
    </script>
</body>
</html>
